.q5{height: 70px;}
.aa{margin-left: 5%;}
.aa li{height: 70px;
    }
.aa li a{line-height: 40px;}
.aa li:hover{
    background: #2c99ea;
    
    }
.aa a:hover{
color:#fff!important;
    } 
.yi {
    display: none;
    }  
.yi button{
    border: 0;
    }
.qq1{
    left: 0;
    right: 0;
    top: 0;
    margin:0 auto;
    line-height: 70px;
    border: 0;
    }
.q6 > li{
     line-height: 70px;
     height: 70px;
    }
.q6 li a{
    line-height: 41px;
    }
.qq{width: 100%;}
.q3 img {
   height: 678px!important;
   width: 100%;
    }
.q1{
    top:120px;
    bottom: 0
    }
.q1 h1{
    font-size: 60px;
    }
.q1 p{
    font-size: 18px;
    }

.q2{
    background: rgba(255,255,255,0);
    border:1px #fff solid;
    width: 230px;
    height: 50px;
    margin-top: 75px;
    }
.q3{
    overflow:visible;
}
.q3 img{
    display: block;
    height: 678px
}
.a{  background: #2c99ea;}
.a a{color: #fff !important}
.d1{
    width: 80%;
    height: 150px;
    background: rgba(255,255,255,0.2);
     border:1px #fff solid;
     border-radius: 5px;
     margin-top: 60px;
     overflow: hidden;
     margin-left: 10%
    }
.d1 div{
    float: left;
    width: 33%;
    height: 100px;
    font-size: 70px;
    margin:24px 0;
    border-right: 1px solid #fff;
    line-height: 88px;
    }
.d1 h5{
    font-size: 16px;
    text-align: center;
    margin: 0
    }
.d2 h3{
    text-align: center;
    font-size: 40px;
    margin-top: 80px;
    }
.d2 p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 70px;
    }   
.d3{
    background: #fff;
    line-height: center;
    padding-bottom: 20px;
    }
.d3 h4{padding: 0 10px;}
.d3 p{padding: 0 10px;}
.z{background: #f2f2f2}
.d4{
    padding: 10px 0px;
    border: 1px solid #666;
    width: 5%;
    margin:0 auto;
    font-size: 20px;
    }
.d5{
    padding: 10px 0px;
    border: 1px solid #666;
    width: 20%;
    font-size: 20px;
    margin-left: 22%;
    margin-right: 22%;
    }
.d6{padding: 10px 0px;
    border: 1px solid #666;
    width: 5%;
    text-align: center;
    margin:0 auto;
    font-size: 20px;

    }
.q{ 
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px
    }
.q button{
    text-align: center;
    }
.d7{padding: 0}
.d7 img{
    width: 100%;
    height: 276px;
    }
.dw{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin:o auto;
    }
.z1{
   width: 80%;
   height:auto; 
   left: 0;
   right: 0;
   top: 0;
   margin:0 auto;
    }
.z1 div{
    width: 20%;
    height: auto;
    float: left;
    }
.z1 {
    text-align: center;
    }
.z1 h2{
    font-size: 24px;
    text-align: center;
    }
.z1 p{
    font-size: 14px;
    text-align: center;
    }
.zz1 div{
    margin-bottom: 50px;
    }
.zz1 {
    text-align: center;
    display: none;
    }
.zz1 h2{
    font-size: 24px;
    text-align: center;
    }
.zz1 p{
    font-size: 14px;
    text-align: center;
    }
.z2{
    position: absolute;
    left: 10px;
    bottom:-110%; 
    padding: 10px 20px;
    border: 1px solid #666;
    text-align: center;
    font-size: 20px;
    }
.z3{
    position: absolute;
    left: 100px;
    bottom:-110%;    
    padding: 10px 20px;
    border: 1px solid #666;
    text-align: center;
    font-size: 20px;
    }
.z4{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    }
.zz4{
    padding: 10px 20px;
    border: 1px solid #666;
    font-size: 20px;
    width:20%;
    }
.zz{
    font-size: 12px
    }
.z5{
    text-align:center;
    float: left;
    }
.za5{
    font-size: 18px;
    display:block;    
    }
.za5 span{
    font-size:14px;
    margin-left: 10px;
    }
.za1{
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    }
.za1 h2{
    font-size: 18px;
    color:#66b8f7;
    margin:10px 0;
    }

.z6{
    margin:20px 0px;
    padding:30px; 
    background: #fff;
    }
.z6 h2{font-size: 24px;border-bottom: 1px solid #e6e6e6; padding-bottom: 10px; }
.z6 h2 span{
    border-bottom:1px solid red;
    padding:10px 0}
.z6 p{
    font-size: 18px;
    color:#66b8f7;
    }
.z6 h3{
    border-bottom:1px solid #e6e6e6;
    padding-bottom:25px;
    font-size: 12px;
    }
.z7{
    float: left;
    margin-left:20px;
    border-left:1px solid #666;
    }
.y{
    height: 70px;
    }
.xx{
    margin-top: 100px;
    }
.xx{
    padding: 10px;
    text-align: center;
    margin-bottom: 100px;
    }


.xx img{
    width: 80%;
    height: 40px;
    } 
.x2{width: 12%}
.x2 h1{
    font-size: 20px;
    margin-top: 90px;
    }   
.x2 p{
    font-size: 14px;

    }
.x2 a{
    color: white;
    }
.x5{padding-left: 10%;}
.x5 h1{
    font-size: 20px;
    margin-top: 90px;
    }   
.x5 p{
    font-size: 14px;
    }
.x5 a{
    color: white;
    }
.x5{display: none}
.x3{
    font-size:20px;
    color:#fff;
    padding:90px 0 0 8%;
    width:34%;

    }
.x0{
    width:30%;
    padding-bottom:80px;
}

.ddd{
    position: absolute;
    top:0px;
    right: 20px;
    }
.ddd a{
    color: #666;
    font-size: 20px;
    }
.ddd a:hover{
    color: #2c99ea;
    }
.t1 h1{font-size: 40px;text-align: center;margin-top:80px;}
.t1 p{font-size: 18px;text-align: center;margin-top:10px;}
.zt1 h1{font-size: 40px;text-align: center;color:white;margin-top:80px;}
.zt1 p{font-size: 18px;text-align: center;color:white;margin-top:45px;}
.zxs{display: none}


.lunbo1{display: none;}
.lunbo{
    position: absolute;
    width: 210%;
    height: 370px;
    }
.lunbo div{float: left;}
.d3 a{color: #666}
.dd3{width: 15%;height: 370px;margin: 0 0.5%;background: #fff}
.dd3 p,h4{padding: 0 20px;}
.dd3 a{color: #666}
.jq{width: 100%;height: 370px;overflow: hidden; position: relative;}
.q{clear: both;}

.da{width: 100%;height: 300px;overflow: hidden;position: relative;}
.xiao{width: 200%;height: 300px;position: absolute;}
.xiao div{float: left;}
.neir{width: 50%;height: 300px;}


/*首页*/






.q1q{
    top:100px;
    color: #fff;
    text-align: center;
    }
.q1q h1{
    font-size: 60px;
    }
.q1q p{
    font-size: 18px;
    }
.q2q{
    margin-top: 100px;
    padding: 15px 70px;
    border: 1px solid #fff;
    font-size: 18px;
    border-radius: 5px;
    }
.q2q a{color: #fff;}
.q3q h3{font-size: 26px;margin-top:60%}
.q3q p{font-size: 16px;}
.q3q p a{font-size: 16px;color:#64a5fd}
.q4q{margin-top: 100px;}
.q4q img{width: 100%}
.zt2{text-align: center;margin-top: 100px;}
.zt2 h1{font-size: 34px;line-height: 50px;color:#89a3c1; }
.zt2 p {font-size: 18px;}
.qq5{margin:50px 0;}
.q5q{text-align: center;margin:50px 0;}
.q5q h2{font-size: 22px;}
.q5q p{font-size: 16px;}
.qyq{display: none;}
.x3 a{margin-left: 8px;}

/*CMS特点*/




.q1qq{
    top:100px;
    color: #fff;
    text-align: center;
    }
.q1qq h1{font-size: 60px;}
.q1qq p{font-size: 18px;}
.yuan{margin-top: 50px;text-align: center;width: auto;height: 106px;position: relative;}
.q2qq img{position: absolute; top:-5px;left:0px;width: 100px;}
.q2qq{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    overflow: hidden;
    border: 3px solid #88d5f6;
    position: relative;
    top:0;
    position: absolute;
    z-index: 2
    }
.jiant{top:35px;position: absolute;}
.bk div{padding: 20px;}
.bk img{width: 100%}
.bk p{margin: 20px 0px;}
.ann{margin:5% 0 5% 35%}
.ann button{
    margin: 10px;
    }   
/*建站案例*/




.shu{
    margin-top: 50px;
    }
.shu input{
    height: 50px;
    padding: 10px;

    }
.shu button{
    height: 50px;
    background: #1f9bf7;
    border:0;
    }
.shu button:hover{
    color: #1f9bf7;
    }
.zuo div{
    font-size: 18px;
    padding-left: 20px;
    line-height: 20px;
    margin-bottom: 20px;
   }
.sd{ 
    background-color: #fff; 
    
 }
.nav .open > a{ background-color: #fff; }
.zuo p{
    padding-left: 60px;
    font-size: 12px;
    }
.zuo p a{
    font-size: 14px;
    }
.zuo ul{border: 0;box-shadow:0 0 0;-webkit-box-shadow:0;}
.you{position: relative;}
.you h3{
    font-size: 20px;
    text-align: center;
    font-weight: 800;
    }
.wenz{
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 16px;
    }
.fenx{
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 16px;

    }
.biaot{
    height: 50px;
    padding: 13px;
    border: 1px dotted #D0D0D0;
    border-radius: 5px;
    margin-top:20px;
    }
.biaot span{
    float: left;    
    width: 50%;
    text-align: center;
    display: block;
    font-size: 12px;
    line-height: 24px;
    }

.bianj img{
    width: 80%;
    margin-left: 10%;
    }
.bianj p{
    margin: 50px 0;
    line-height: 20px;
    }
/*服务帮助*/

.x8{width: 12%}
.x8 h1{
    font-size: 20px;
    margin-top: 90px;
    }   
.x8 p{
    font-size: 14px;

    }
.x8 a{
    color: #333;
    }
.x7{padding-left: 10%;}
.x7 h1{
    font-size: 20px;
    margin-top: 90px;
    }   
.x7 p{
    font-size: 14px;
    }
.x7 a{
    color: #333;
    }
.x7 {display: none}
.x9 a{margin-left: 8px;}
.x9{
    font-size:20px;
    color:#333;
    padding:90px 0 0 8%;
    width:34%;
    }
.bz{top: 100px;
    text-align: left;
    }
.bz h1{
    font-size: 36px;
    color: #fff;
    }
.bz p{
    font-size: 18px;
    color: #fff;
    }
.ck{
    width: 345px;
    height: 333px;
    border-radius: 5px;
    background: #fff;
    position: absolute;
    right: 20%;
    top: 144px;
    padding: 30px;
    z-index: 10;
    }
.ck span{
    font-size: 18px;
    }
.ck1{
    height: 40px;
    width: 295px;
    border:1px solid #ccc;
    margin-top: 20px;
    }
.ck1 p{
    height: 20px;
    padding-left: 20px;
    }
.ck1 span{
    background: #f2f2f2;
    width: 45px;
    height: 37px;
    text-align: center;
    line-height: 30px;
    color: #808080;
    }
.ck1 input{
    width: 244px;
/*    padding: 10px;*/
    font-size: 14px;
    display: inline;
    padding: 0;
    border:0;
    line-height: 38px;
    }
.jzm{
    height: 66px;
    line-height: 66px;
    }
.jzm span{
    margin-left: 80px;
     font-size: 14px!important;
    }
.jzm span:hover{cursor:pointer;}
.jzm span:active{color: #428bca}
.jzm a{
    margin-left: 15px;
    }

.dengl{
    height: 40px;
    width: 295px;
    background: #2c99ea;
    font-size: 18px;
    line-height: 40px;
    border: 0;
    color: #fff;
    font-weight: 700;
    }


@media (min-width: 0px) and (max-width: 1280px){
    .d1 div{font-size: 60px;}
    .z2,.z3{bottom: -60%;}
    .x3 span{display: block;}
    .x9 span{display: block;}
    .q3q h3{margin-top:40%}
    .q2qq {width: 80px;height: 80px;}
    .q2qq img {width: 80px;}
    .jiant {width: 50px;top:25px;}
    .q1qq{margin: 0;padding: 0;left: 10%;right: 10%}
}
@media (min-width: 0px) and (max-width: 980px){
    .aa{display: none;} 
    .y{display: block;}
    .d1 div{ font-size: 40px ;margin:12px 0;line-height: 60px;height: 80px}
    .d1{height: 100px;}
    .carousel-caption h1{font-size: 50px }
    .e1{display: block;}
    .z1{display: none}
    .zz1{display: block;}
    .x3 img{width: 15%;}
    .x9 img{width: 15%;}
    .x2 h1{width: 100px;}
    .x2 p{width: 100px}
    .x8 h1{width: 100px;}
    .x8 p{width: 100px}
    .yi{display: block;}
    .ddd{display: none;}
    .q3q h3{font-size: 20px}
    .q3q p{font-size: 12px}
    .q1qq{margin: 0;padding: 0;left: 5%;right: 5%}
    .ann{margin:50px 0  50px 20%}
    .zuo{display: none}
    .z2,.z3{bottom: -30%}

}
@media (min-width: 0px) and (max-width: 767px){
    .d1 div{ font-size: 30px ;line-height: 40px;height: 60px}
    .d1{height: 80px;}
    .carousel-caption h1{font-size: 40px }
    .zz4{width: 40%}
    .d4{display: none}
    .d6{display: none}
    .d5{width: 40%}
    #y{display: block;}
/*    .x0 img{width: 120px;}*/
/*    .x2{display: none;}  */
    .x0{width: 50%}
    .x3{width: 50%}
    .x3 a{text-align: center;}
    .x9{width: 50%}
    .x9 a{text-align: center;}
    .x5 {display: block;}
    .x2{display: none;}
    .x7 {display: block;}
    .x8{display: none;}


    .qyq{display: block;}
    .qcq{display: none;}
    .qyq img,.q4q img{width: 60%;margin-left: 20%;margin-top: 50px;}
    .q3q{margin-top: 0;text-align: center;}
    .q4q{margin-top: 0}
    .q5q h2{font-size: 18px;}
    .q5q p{font-size: 12px;}
    .zt2 h1{font-size: 30px;}
    .zt2 p{font-size: 14px}
    .zyc{display:none;}
    .zxs{display: block;}
    .q2qq {width: 60px;height: 60px;}
    .q2qq img {width: 60px;}
    .jiant {width: 40px;}
    .q1qq{margin: 0;padding: 0;left: 0;right: 0}
    .bk img{width: 80%;margin-left: 10%}
    .bk p {margin-left: 10%;font-size: 20px;}
    .ann{margin:5% 0  5% 30%}
    .an1{display: none}
    .shu{margin-left: 10%; width: 80%;}
    .lunbo1{display: block;}
    .jq , .lunbo{display: none;}
    .z2,.z3{display: none}

}
@media (min-width: 0px) and (max-width: 500px){
    .ann{margin:5% 0  5% 25%}



}

@media(min-width: 0px) and (max-width: 360px){
    .d1 div{ font-size: 20px ;line-height: 20px;height: 40px}
    .d1 h5{font-size: 14px;}
    .d1{height: 60px;}
    .x5 p{font-size: 12px;}
    .x7 p{font-size: 12px;}
    .zt1 h1,.t1 h1{font-size: 36px;}
    .zt1 p,.tl p{font-size: 16px;}
    .x3 a{margin-left: 5px;}
    .x9 a{margin-left: 5px;}
    .xx img {width: 80%}
    .an2{display: none}
    .biaot span{font-size: 9px;}
    .you h3{font-size: 16px;}
    .fenx{font-size: 12px;top:35px;}
    .wenz{font-size: 12px;top:35px;}
    body{font-size: 12px;}
    .g1{display: none}
}



